.container{
    margin-bottom: 60px;
}
.bg-color-slide{
    background-color: #FEEAE9;
    border-radius: 12px;
}
.carousel-item{
    padding: 25px 35px;
}
.price{
    color: #ff136f;
    
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff5898, #ff136f);
    border: none;
    border-radius: 10px;
    padding: 9px 25px;
    color: white;
    cursor: pointer;
    text-transform:uppercase;
}
.cat-1, .cat-2, .cat-3{
    padding: 10px 20px;
    border-radius: 12px;
}
.cat-1{
    background-image: linear-gradient(90deg, #f39c12, #f1c40f);
}
.cat-2{
    background-image: linear-gradient(90deg, #d63031, #ff7675 );
}
.cat-3{
    background-image: linear-gradient(90deg, #e84393, #fd79a8 );
}
.catagory h1{
    color: white ;
    font-size: 35px;
}
.catagory img{
    width: 80px;
}